<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
<link rel="stylesheet" href="{{ '/public/css/poole.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/public/css/syntax.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/public/css/hyde.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/public/css/gallery.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/public/css/customs.css' | relative_url }}">
<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">-->

<!-- Icons -->

<link rel="shortcut icon" href="{{ '/public/assets/favicon.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/public/assets/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/public/assets/favicon-96x96.png' | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ '/public/assets/favicon.svg' | relative_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">

<meta name="apple-mobile-web-app-title" content="Koren" />

<!-- open graph meta tags -->
<meta property="og:title" content="Koren Kim" />
<meta property="og:description" content="A New World!" />
<meta property="og:image" content="https://korenkim.com/public/assets/favicon.svg" />
<meta property="og:url" content="https://korenkim.com/" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Koren Kim" />
<meta name="twitter:description" content="A New World!." />
<meta name="twitter:image" content="https://korenkim.com/public/assets/favicon.svg" />


  <!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | relative_url }}">
</head>


