<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
<link rel="stylesheet" href="{{ '/public/css/poole.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/public/css/syntax.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/public/css/hyde.css' | relative_url }}">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->

<link rel="shortcut icon" href="/public/favicon.png">
<link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png" >


<link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="32x32" />
<link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
<link rel="manifest" href="/public/site.webmanifest" />

<meta name="apple-mobile-web-app-title" content="Koren" />



  <!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | relative_url }}">
</head>

