<html lang="en-us">
  <body class="theme-base">
    <div class="sidebar">
      <div class="sidebar-sticky">
        <input class="sidebar-nav-btn" type="checkbox" id="sidebar-nav-btn" tabindex="2" aria-label="menu"/>      
        <div class="sidebar-main">

          <div class="sidebar-about">
            <h1>
              <a href="{{ site.baseurl }}">
                {{ site.title }}
              </a>
            </h1>
          </div>
          


          <div class="sidebar-nav-toggle">
            <label class="sidebar-nav-label" for="sidebar-nav-btn" aria-hidden="true">
              <span class="sidebar-nav-icon">
              </span>
            </label>
          </div>
        </div>


          <p class="lead">{{ site.description }}</p>


        <nav class="sidebar-nav">
          <a class="sidebar-nav-item sidebar-nav-item-active" href="/">Posts </a>

          <a class="sidebar-nav-item " href="/projects/">All Projects </a>


          <a class="sidebar-nav-item " href="/about/">About Me </a>

          <a class="sidebar-nav-item" href="https://github.com/korenkim/">GitHub </a>

          <br>

          <span class="sidebar-nav-item footer"> Currently v{{ site.version }} </span>
          <span class="sidebar-nav-item footer"> &copy; {{ site.time | date: '%Y' }}. All rights reserved.</span>
        </nav>

    
      </div>
      
    </div>

    <!--
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
    -->
    
    

  </body>
</html>

